<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <servers>
    <server>
      <username>deployment</username>
      <password>${MAVEN_TOKEN}</password>
      <id>central</id>
    </server>
    <server>
      <username>deployment</username>
      <password>${MAVEN_TOKEN}</password>
      <id>snapshots</id>
    </server>
    <server>
      <username>deployment</username>
      <password>${MAVEN_TOKEN}</password>
      <id>releases</id>
    </server>
  </servers>
    <pluginGroups>
        <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
    </pluginGroups>
    <profiles>
    <profile>
        <id>sonar</id>
        <activation>
            <activeByDefault>true</activeByDefault>
        </activation>
        <properties>
            <sonar.host.url>${SONAR_SERVER_URL}</sonar.host.url>
         </properties>
    </profile>
    <profile>
      <id>NexusProxy</id>
      <repositories>
        <repository>
          <id>central</id>
          <url>${NEXUS_PROXY_URL}</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>snapshots</id>
          <url>${NEXUS_PROXY_URL}</url>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
          <releases>
            <enabled>false</enabled>
          </releases>
        </repository>
        <repository>
          <id>releases</id>
          <url>${NEXUS_PROXY_URL}</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <releases>
            <enabled>true</enabled>
          </releases>
        </repository>
      </repositories>
     <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <url>${NEXUS_PROXY_URL}</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </pluginRepository>
        <pluginRepository>
          <id>snapshots</id>
          <url>${NEXUS_PROXY_URL}</url>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
          <releases>
            <enabled>false</enabled>
          </releases>
        </pluginRepository>
        <pluginRepository>
          <id>releases</id>
          <url>${NEXUS_PROXY_URL}</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <releases>
            <enabled>true</enabled>
          </releases>
        </pluginRepository>
     </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <!--make the profile active all the time -->
    <activeProfile>NexusProxy</activeProfile>
  </activeProfiles>
</settings>
